/********************************************/
/******************* MAIN *******************/
/********************************************/

body{
	margin:0 auto;
	padding:0;
	font-family:'Varela Round',sans-serif;
	font-size:1.25em;
	letter-spacing:0.05em;
	height:100%;
	width:100%;
	color:#BBB;
    overflow-x:hidden;
}

img{
	margin:0 auto;
	max-width:100%;
}

.uppercase{
	text-transform:uppercase;
}

a{
	color:#c6839a;
	text-decoration:none;
	font-weight:bold;
}

a:hover{
	color:#355677;
}

#main a{
	font-size:1em;
	color:#355677;
}

/* self portrait on home page */
#self-portrait{
	min-height:30em;
	max-height:40vh;
	margin-top:3vh;
}

/* description after title */
#short-description{
	margin:0 auto;
	font-size:1.1em;
	color:#d8c0cf;
	letter-spacing:0.025em;
	margin-top:-2.5em;
	margin-bottom:1.5em;
	padding:0.25em;
	min-width:20em;
	width:25%;
    max-width:20em;
	line-height:150%;
	letter-spacing:0.1em;
}

/* home page style */
#main{
	margin:0 auto;
	padding:0;
	position:relative;
	height:100%;
	min-height:100vh;
	width:100%;
	min-width:100vw;
	text-align:center;
	background-color:#c6839a;
	-webkit-box-shadow:0em 0em 3em 0.05em rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0em 0em 3em 0.05em rgba(0, 0, 0, 0.5);
    box-shadow:0em 0em 3em 0.05em rgba(0, 0, 0, 0.5);
}

/* home page title */
#main .page-title{
	color:#355677;
	font-size:2.5em;
	padding:0.5em;
	margin-top:-0.5em;
}

/* general navigation */
#nav{
	text-align:center;
	list-style-type:none;
	text-transform:uppercase;
	letter-spacing:0.075em;
	font-weight:bold;
	font-size:0.9em;
	min-width:20vw;
	max-width:100vw;
}

/* individual icons */
#nav li{
	margin-left:1.25em;
	margin-right:1.25em;
	font-size:0.9em;
	background-color:#355677;
	border-radius:100%;
	text-align:center;
	display:inline-block;
	min-height:5em;
	min-width:5em;
	max-width:7em;
	max-height:7em;
}

#nav li img{
	min-height:5em;
	min-width:5em;
	max-width:7em;
	max-height:7em;
	height:auto !important;
}

#nav li:hover{
	background-color:#4f6b88;
}

/* icon to toggle menu */
.menu-toggle{
	display:none;
	position:fixed;
	top:2vh;
	right:2vw;
	z-index:8;
}

.menu-toggle:hover{
	cursor:pointer;
}

.menu-toggle img{
	width:2em;
}

/* navigation for pages */
.page-nav{
	position:fixed;
	left:0%;
	background-color:#fff;
	min-height:7vh;
	height:auto;
	width:100vw;
	z-index:7;
	-webkit-box-shadow:0em 0em 3em 0.05em rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0em 0em 3em 0.05em rgba(0, 0, 0, 0.5);
    box-shadow:0em 0em 1em 0.05em rgba(0, 0, 0, 0.25);
	overflow:visible;
	padding-top:2vh;
	padding-bottom:2vh;
	opacity:0.95;
}

/* individual page navigation icons */
#nav.page-nav li{
	background-color:#4f6b88;
	height:5vh;
	width:5vh;
	color:#999;
}

#nav.page-nav li img{
	height:5vh;
	width:5vh;
	height:auto !important;
}

#nav.page-nav a{
	color:#355677;
}

#nav.page-nav li:hover{
	background-color:#355677;
	color:#c6839a;
}

/* current page is highlighted */
#nav.page-nav .cur-page{
	background-color:#355677;
	color:#c6839a;
}

/* encapsulates all page content to easily adjust positioning */
.page-content{
	/*margin-top:16vh;*/
}

/* vertically center most things */
.vertical{
	position:relative;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

/* any title on a page */
.page-title{
	font-family:'Slabo 27px',serif;
	font-size:1.75em;
	text-align:center;
	text-transform:uppercase;
	color:#555;
	letter-spacing:0.075em;
}

.page-title img{
    height:10vh;
    min-height:3em;
}

/* subtitle */
.page-subtitle{
	text-transform:none;
	color:#777;
}

/* text body in pages */
.text-body{
	margin:0 auto;
	width:75%;
	margin-bottom:3em;
}

/* list of reasons to contact me */
#contact-list{
	list-style-type:lower-alpha;
	padding-left:10%;
	margin-top:-1em;
	margin-bottom:2em;
}

.my-button{
    margin:0 auto;
    padding-left:2em;
    padding-right:2em;
    margin-bottom:5em;
    background-color:#c6839a;
    color:#fff;
    border-style:none;
    border-radius:5em;
    height:5em;
    width:10vw;
    max-width:17em;
    min-width:15em;
    text-align:center;
    text-transform:uppercase;
    font-size:.9em;
    line-height:5em;
}

.my-button span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.my-button:hover{
    background-color:#d3a7b9;
}

/********************************************/
/******************* WORKS ******************/
/********************************************/

/* list of works */
#projects-list{
	text-align:center;
	list-style-type:none;
	margin-top:2em;
}

#projects-list li{
	display:inline-block;
	background-color:#fff;
	color:#fff;
	height:14.25em;
	width:14.25em;
	border-radius:100%;
	margin:0.5em;
	padding:0;
}

#projects-list li:hover{
	background-color:#999;
}

/* misc works (not projects) title */
#misc{
	margin-top:1.25em;
}

/* thumbnail images */
.thumbnail{
	background-size:cover;
}

/* overlay that shows titles */
.thumb-overlay{
	display:none;
	position:absolute;
	background-color:#c6839a;
	font-size:1em;
	opacity:0.9;
	height:14.25em;
	width:14.25em;
	border-radius:100%;
	padding:0;
	z-index:5;
}

.thumb-overlay span{
	font-size:0.9em;
}

/* overlay that pops up on mobile so no hover is required */
.mobile-overlay{
	display:none;
	color:#fff;
	margin:0 auto;
	text-align:center;
	width:100%;
	position:relative;
	top:80%;
	font-size:0.8;
	background-color:#c6839a;
	opacity:0.9;
}

/* image URLs for individual works */
#TM-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-TM.png");
}

#DT-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-DT.png");
}

#TY-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-TY.png");
}

#MB-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-MB.png");
}

#CS-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-CS.png");
}

#card-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-card.png");
}

#lich-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-lich.png");
}

#book-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-book.png");
}

#scarf-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-scarf.png");
}

#christmas-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-christmas.png");
}

#day31-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-day31.png");
}

#food-gifs-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-food-gif.png");
}


/********************************************/
/************** PROJECT DETAILS *************/
/********************************************/

/* banner for projects */
.banner{
	display:none;
	height:40vh;
	max-height:25em;
	width:100%;
	background-attachment:fixed;
	background-size:cover;
	margin:0;
	padding:0;
	margin-top:-2vh;
	margin-bottom:1em;
}

/* individual img URLs for each project banner */
#TM-banner{
	background-image:url("../images/tagmonkey/collage.jpg");
}

#DT-banner{
	background-image:url("../images/design-thinking/collage.jpg");
}

#TY-banner{
	background-image:url("../images/business-travel/collage.jpg");
}

#MB-banner{
	background-image:url("../images/food-delivery/collage.jpg");
}

#CS-banner{
	background-image:url("../images/cs-club/collage.png");
	background-size:100%;
}

/* project information */
.project-details{
	display:none;
	margin-top:2em;
}

/* project header */
.header{
	font-size:1.5em;
	text-align:center;
	margin-top:-1em;
}

/* project back button */
.back{
	width:5em;
	position:fixed;
	bottom:5vh;
	left:75vw;
	font-weight:bold;
}

/* img used in project description */
.project-img{
	margin:0 auto;
	width:90%;
	text-align:center;
}

/* wider imgs */
.wide-img{
	width:100%;
	max-width:35em;
}

.widest-img{
	width:100%;
	max-width:45em;
}

/* mobile screens */
.mobile-img {
	max-width:14em;
	margin:1em;
}

/* smaller mobile screens */
.small-mobile-img{
	max-width:11em;
	margin:0.3em;
}

/* labels used for img descriptions on project overview */
.small-label{
	letter-spacing:0.05em;
	color:#777;
}

/* img descriptions */
.small-description{
	margin-top:-1.75em;
}

/* titles within project descriptions */
.sub-title{
	margin-top:2em;
	margin-bottom:1em;
    line-height:90%;
}

/* encapsulates entire img description */
.caption{
	margin:0 auto;
	margin-bottom:3em;
	margin-top:0em;
	width:80%;
}

.caption p{
	font-size:0.95em;
	line-height:1.5em;
}

.gif-play:hover{
	cursor:pointer;
}

/********************************************/
/**************** IMG VIEWER ****************/
/********************************************/

/* white overlay that allows you to exit out of viewer */
#bg-overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:#fff;
	z-index:8;
	opacity:0.75;
}

/* illustration & graphic viewer */
.img-container{
	display:none;
	z-index:9;
	position:fixed;
	bottom:0;
	width:100vw;
	height:70%;
	background-color:#aa6b7d;
	-webkit-box-shadow:0px -10px 50px 5px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:0px -10px 50px 5px rgba(0, 0, 0, 0.9);
    box-shadow:0em 0em 3em 0.05em rgba(0, 0, 0, 0.5);
}

/* links in img container */
.img-container a{
    color:#355677;
}

.img-container a:hover{
    color:#c6839a;
}

/* transparent overlay on which img appears */
.img-bg{
	height:100%;
	width:50vw;
	max-width:100em;
	background-color:#000;
	opacity:0.25;
}

/* div that contains img */
.img-side{
	height:100%;
	width:50%;
	position:absolute;
	bottom:0;
	left:0;
}

/* img that is currently being viewed */
#current-img{
	max-height:80%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
}

/* img description */
.img-desc{
	display:none;
	text-align:center;
	margin-top:2em;
	width:50%;
	height:80%;
	position:absolute;
	right:0;
	top:0;
	overflow-x:hidden;
    font-size:1.1em;
}

.img-desc h5,.img-desc h6{
	margin:0 auto;
	width:80%;
}

.img-desc h6{
	font-size:1.25em;
}

.img-desc h5,.img-desc p,.img-desc h6{	
	color:#fff;
}

.img-desc p{
	text-align:left;
	margin:0 auto;
	margin-top:1em;
}

.desc-text{
	margin:0 auto;
	margin-top:3em;
	width:90%;
}

/* X button to close viewer */
.exit-viewer{
	position:absolute;
	top:5%;
	right:2%;
	height:1.25em;
	width:1.25em;
	color:#000;
	font-size:2em;
	font-weight:bold;
	line-height:1.1em;
	letter-spacing:0;
	background-color:#fff;
	z-index:7;
	text-align:center;
	border-radius:100%;
	opacity:0.25;
}

.exit-viewer:hover{
	opacity:0.5;
	cursor:pointer;
}

/* separate styling for portrait view on touch devices */
@media screen and (orientation:portrait){
	
	#short-description{
		width:80%;
		margin-top:-1.75em;
	}
	
	#main #nav li{
		color:#355677;
		height:7em;
		width:7em;
		margin-top:1em;
	}
	
	.page-content{
		margin-top:17vh;
		margin-bottom:17vh;
	}

	.img-container{
		height:100%;
		overflow:hidden;
	}
	
	.img-side{
		height:65%;
		width:100%;
		position:absolute;
		bottom:0;
	}

	#current-img{
		height:auto;
		height:90%;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		-webkit-transform:translate(-50%, -50%);
	}
	
	.img-bg{
        position:absolute;
		height:65%;
		width:100%;
        bottom:0;
	}
	
	.img-desc{
		width:100%;
		height:30%;
		bottom:0%;
		margin-top:2em;
		/*padding-top:0.5em;*/
		padding-bottom:-2em;
		overflow:scroll;
		overflow-x:hidden;
	}
	
	.desc-text{
		margin:0 auto;
		width:70%;
		margin-bottom:1em;
	}
	
	.exit-viewer{
		/*font-size:1.5em;*/
		top:2%;
	}
	
}

/*.img-arrows{
	font-size:2em;
	background-color:#fff;
	color:#aa6b7d;
	height:1.5em;
	width:1.5em;
	text-align:center;
	border-radius:100%;
}
.img-arrows:hover{
	background-color:#c6839a;
	cursor:pointer;
}

#next-img{
	display:none;
	position:absolute;
	right:2.5%;
	bottom:50%;
}

#prev-img{
	display:none;
	position:absolute;
	left:52.5%;
	bottom:50%;
}

/* lightbox (UNUSED) */
/*.lightbox-overlay{
	position:fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background-color:#000;
	opacity:0.75;
}

.lightbox-img{
	z-index:6;
	position:fixed;
	top:15%;
	left:40vw;
	max-width:25em;
}

#img-viewer{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	height:100vh;
	width:100vw;
}*/