/************** MAIN **************/
body{
	margin:0 auto;
	font-family:"Quicksand",sans-serif;
	font-size:1.375em;
	height:100%;
	width:100%;
	color:#999;
}

img{
	margin:0 auto;
	max-width:100%;
}

a{
	color:#c6839a;
	text-decoration:none;
	font-weight:bold;
}

a:hover{
	color:#355677;
}

.cur-page{
	color:#c6839a;
	background-color:#355677;
}

.cur-page:hover{
	color:#c6839a;
}

#main a{
	color:#355677;
}

#main a:hover{
	color:#c6839a;
	background-color:#355677;
}

#self-portrait{
	width:60%;
	margin-top:5%;
	min-width:20em;
	max-width:30em;
}

#construction{
	font-size:1.25em;
	color:#fff;
	letter-spacing:0.025em;
	margin-top:-2.5em;
	padding:0.25em;
}

#main {
	margin:0 auto;
	padding:0;
	position:relative;
	height:100%;
	min-height:100vh;
	width:100%;
	min-width:100vw;
	text-align:center;
	background-color:#c6839a;
}

#main .page-title{
	color:#355677;
	font-size:2.5em;
	padding:0.5em;
}

#nav{
	list-style-type:none;
	text-transform:uppercase;
	margin-top:2em;
	letter-spacing:0.075em;
	font-weight:bold;
	font-size:0.9em;
	margin-bottom:3.5em;
}

#nav li{
	display:inline;
	margin-left:1em;
	margin-right:1em;
}

.line-break{
	margin-top:-0.5em;
	border-bottom:1px solid #929292;
	margin-bottom:1em;
}

.vertical{
	position:relative;
	top:50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

#main .vertical{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}

.page-title{
	font-family:'Slabo 27px',serif;
	text-align:center;
	text-transform:uppercase;
	color:#555;
	letter-spacing:0.075em;
}

h6{
	font-size:1.5em;
}

/********** WORKS **********/

#works{
	text-align:center;
}

#projects-list{
	text-align:center;
	list-style-type:none;
	margin-top:2em;
}

#projects-list li{
	display:inline-block;
	background-color:#fff;
	color:#fff;
	height:14em;
	width:14em;
	border-radius:100%;
	margin:0.5em;
	padding:0;
}

#projects-list li:hover{
	background-color:#999;
}

#misc{
	margin-top:1.25em;
}

.thumbnail{
	background-size:cover;
}

.thumb-overlay{
	display:none;
	position:absolute;
	background-color:#c6839a;
	font-size:1em;
	opacity:0.9;
	height:14em;
	width:14em;
	border-radius:100%;
	padding:0;
	z-index:5;
}

.thumb-overlay span{
	font-size:0.9em;
}

.mobile-overlay{
	display:none;
	color:#fff;
	margin:0 auto;
	text-align:center;
	width:100%;
	position:relative;
	top:90%;
	font-size:0.8;
	background-color:#c6839a;
	opacity:0.9;
}

#DT-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-DT.png");
}

#TY-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-TY.png");
}

#MB-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-MB.png");
}

#card-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-card.png");
}

#lich-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-lich.png");
}

#book-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-book.png");
}

#scarf-thumb{
	background-image:url("../images/thumbnails/greyscale/thumb-scarf.png");
}

/********** PROJECT DETAILS **********/

.banner{
	display:none;
	height:40vh;
	max-height:25em;
	width:100%;
	background-attachment:fixed;
	background-size:cover;
	margin-bottom:1em;
}

#DT-banner{
	background-image:url("../images/design-thinking/collage.jpg");
}

#TY-banner{
	background-image:url("../images/business-travel/collage.jpg");
}

#MB-banner{
	background-image:url("../images/food-delivery/collage.jpg");
}

.project-details{
	display:none;
	margin-top:2em;
}

.text-body{
	margin:0 auto;
	width:75%;
	/*min-width:50em;*/
	margin-bottom:3em;
}

.header{
	font-size:1.5em;
	text-align:center;
	margin-top:-1em;
}

.back{
	width:5em;
	position:fixed;
	bottom:5vh;
	left:75vw;
	font-weight:bold;
}

.project-img{
	margin:0 auto;
	width:90%;
	text-align:center;
}

.wide-img{
	width:100%;
	max-width:35em;
}

.mobile-img {
	max-width:14em;
	margin:1em;
}

.small-mobile-img{
	max-width:11em;
	margin:0.3em;
}

.indented{
	margin-left:2em;
}

.uppercase{
	text-transform:uppercase;
}

.small-label{
	letter-spacing:0.05em;
	color:#777;
}

.small-description{
	margin-top:-1.75em;
}

.sub-title{
	margin-top:2em;
	margin-bottom:0em;
}

.caption{
	margin:0 auto;
	margin-bottom:3em;
	margin-top:0em;
	width:80%;
}

.caption p{
	font-size:0.95em;
	line-height:1.5em;
}

#img-viewer{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
	height:100vh;
	width:100vw;
}

.lightbox-overlay{
	position:fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background-color:#000;
	opacity:0.75;
}

.lightbox-img{
	z-index:6;
	position:fixed;
	top:15%;
	left:40vw;
	max-width:25em;
}

#bg-overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:#fff;
	z-index:5;
	opacity:0.75;
}

.img-container{
	display:none;
	z-index:6;
	position:fixed;
	bottom:0;
	width:100vw;
	height:70%;
	background-color:#aa6b7d;
	-webkit-box-shadow:0px -10px 50px 5px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:0px -10px 50px 5px rgba(0, 0, 0, 0.9);
    box-shadow:0em 0em 3em 0.05em rgba(0, 0, 0, 0.5);
}

.img-bg{
	height:100%;
	width:50vw;
	max-width:100em;
	background-color:#000;
	opacity:0.25;
}

.img-side{
	height:100%;
	width:50%;
	position:absolute;
	bottom:0;
	left:0;
}

#current-img{
	height:80%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
}

.img-desc{
	display:none;
	text-align:center;
	margin-top:2em;
	width:50%;
	height:80%;
	position:absolute;
	right:0;
	top:0;
	overflow-x:hidden;
}

.img-desc h5,.img-desc h6{
	margin:0 auto;
	width:80%;
}

.img-desc h6{
	font-size:1.25em;
}

.img-desc h5,.img-desc p,.img-desc h6{	
	color:#fff;
}

.img-desc p{
	text-align:left;
	margin:0 auto;
	width:75%;
	margin-top:1em;
}

.exit-viewer{
	position:absolute;
	top:5%;
	right:2%;
	height:1.25em;
	width:1.25em;
	color:#000;
	font-size:2em;
	font-weight:bold;
	background-color:#fff;
	z-index:7;
	text-align:center;
	border-radius:100%;
	opacity:0.4;
}

.exit-viewer:hover{
	opacity:0.5;
	cursor:pointer;
}

@media screen and (orientation:portrait){

	.img-container{
		height:100%;
		overflow:hidden;
	}
	
	.img-side{
		height:60%;
		width:100%;
		position:absolute;
		bottom:0;
	}

	#current-img{
		height:auto;
		height:90%;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		-webkit-transform:translate(-50%, -50%);
	}
	
	.img-bg{
		height:40%;
		width:100%;
	}
	
	.img-desc{
		width:100%;
		height:38%;
		bottom:0%;
		margin-top:0em;
		padding-top:0.5em;
		padding-bottom:-2em;
		overflow:scroll;
		overflow-x:hidden;
	}
	
	.exit-viewer{
		font-size:1.5em;
		top:2%;
		padding-left:1px;
	}
	
}

.img-arrows{
	font-size:2em;
	background-color:#fff;
	color:#aa6b7d;
	height:1.5em;
	width:1.5em;
	text-align:center;
	border-radius:100%;
}
.img-arrows:hover{
	background-color:#c6839a;
	cursor:pointer;
}

#next-img{
	display:none;
	position:absolute;
	right:2.5%;
	bottom:50%;
}

#prev-img{
	display:none;
	position:absolute;
	left:52.5%;
	bottom:50%;
}